.carousel-wrapper {
	display: flex;
	flex-direction: column;
	gap: 60px;
}

.carousel-images {
	display: flex;
	gap: 40px;
	transition: all 0.4s ease-in-out;
}

.carousel-image {
	aspect-ratio: 1 / 1;
	object-fit: cover;
	opacity: 0.4;
	flex-shrink: 0;
	transition: all 0.4s ease-in-out;
}

.active {
	opacity: 1;
	transform: scale(1.1);
}

.left-arrow,
.right-arrow {
	height: 24px;
	aspect-ratio: 1 / 1;
}

.left-arrow {
	transform: scaleX(-1);
}

.carousel-controls {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.carousel-indexes {
	display: flex;
	gap: 20px;
}

.carousel-index {
	width: 10px;
	aspect-ratio: 1 / 1;
	border-radius: 100%;
	background: var(--gray-clr);
}
