<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Modern Architecture</title>
	</head>
	<body>
		<main>
			<div class="theme-btn icon">
				<img
					src="<%= require('./assets/icons/moon.svg') %>"
					alt="Theme"
				/>
			</div>
			<div class="app-title">
				<h3>Modern</h3>
				<h1>Architecture</h1>
			</div>
			<div class="carousel-wrapper">
				<div class="carousel-images"></div>
				<div class="carousel-controls">
					<img
						src="<%= require('./assets/icons/arrow.svg') %>"
						alt="Left Arrow"
						class="left-arrow icon"
					/>
					<div class="carousel-indexes"></div>
					<img
						src="<%= require('./assets/icons/arrow.svg') %>"
						alt="Right Arrow"
						class="right-arrow icon"
					/>
				</div>
			</div>
		</main>
	</body>
</html>
